@font-face {
  font-family: 'candelabook';
  src: url('./fonts/candelabook-webfont.woff') format('woff2'),
       url('./fonts/candelabook-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'deutsch_gothicnormal';
  src: url('./fonts/deutsch-webfont.woff2') format('woff2'),
       url('.fonts/deutsch-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-family: 'deutsch_gothicnormal';
  font-size: 4.2rem;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'deutsch_gothicnormal';
  font-size: 3.4rem;
  letter-spacing: 0.1em;
}

p {
  font-family: 'candelabook';
  font-size: 1.6rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}